
body {
  font-family: sans-serif;
  margin: 0; 
  background: #222;
  color: white;
}

/*** LAYOUT ***/
body#solver div#gameContainer {
  width: 50%;
}
body#builder div#gameContainer {
  width: 95%;
  height: 420px;
}

div#gameContainer {
  position: relative;

  border: solid 3px #b54fad; 
  margin: 10px 0 0 2%;
  float: left;
  overflow: auto;
  resize: both;
  background: #999;
  padding: 0;
}

div#gameDiv {
  overflow: auto;
}

input#zoomSlider {
  clear: both;
  width: 97%;
  position: absolute;
  top: 90%;
  accent-color: #f00;
  margin: 0;
  padding: 0;
}
div#gameDiv input#zoomSlider:before {
  content: "-";
  color: #fff;
}
div#gameDiv input#zoomSlider:after {
  content: "+";
  color: #000;
}


div#gameDiv canvas {  
  padding: 0;
  margin: 0;
  
}

/*** HEADER ***/
div#header {
  width: 95%;
  padding: 0 2%;
}
div#header img {
  height: 120px;
  
}

/*** FOOTER ***/
div#footer {
  width: 95%;
  padding: 0 2%;
  clear: both;
  
}

/*** INDEX ***/
div.problemSet {
  border: solid 3px #b54fad;  
  margin: 20px;
}

/*** INDEX ***/

div.problemSet h1 {
  color: #ff0;
  margin: 0;
}
div.problemSet {
  padding: 15px;
  background: #777;
}
div.problemSet h1:before {
  content: url("pageImages/foobotImage.png")
}
div.problemSet a img {
  border: 1px solid transparent;
}


div.problemSet a img:hover {
  border: 1px solid white;
}


/***SOLVER AND BUILDER PAGE***/


body#builder div#controls {
    width: 92%;
}
body#solver div#controls {
    width: 40%;
}

div#controls {
  border: solid 3px #b54fad;  
  background: #999;
    width: 40%;
  left: 0px;
  z-index: 100;
  float: left;
  margin: 10px 0 0 2% ;
  padding: 1%;
  resize: both;
  overflow-x: auto;
  
}
div#controls textarea#codeInput {
  clear: both;
  display: block;
  width: 95%;
  margin: 0 auto;
  height: 200px;
  color: #fff;
  background: #333;
  padding: 5px;
  font-family: monospace;
  font-weight: bold;
}
div#controls select#languageSelect {
  color: #fff;
  background: #999;  
  border: none;
  margin: 10px 0;
  color: #333;
}
div#controls img {
  border-color: #333;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: 2px;
  margin: 20px 0px 0px 6px;
  height: 40px;
}
div#controls p#characterCount {
  margin: 0;
  font-size: 70%;
  color: #333;
  float: right;
  clear: both;
}
div#settings {    
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.slider {
-webkit-appearance: none;
width: 90%;
  height: 5px;
  margin: 0px 5% 0px 5%;
border-radius: 2px;
background: #d3d3d3;
outline: none;
opacity: 0.75;
-webkit-transition: .2s;
transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 10px;
height: 10px;
border-radius: 50%;
background: #000;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 10px;
height: 10px;
border-radius: 50%;
background: #000;
cursor: pointer;
}


.fixedHeight {
position: relative;
width: 100%;
height: 50px;
}

/* TEACHOMETER WEBSITE */

div#topbit {
  width: 100%;
  background-image: url(../stripeBG.gif);
  height: 50px;
  margin: 0;
}
div#topbit p {
  clear: none;
}


p#teachometer {
  display: block;
  float: right;
  color: #373748;
  font-size: 30px;
  margin: 9px 10px 0 0;
text-shadow: 2px 2px 5px #fff;
}

img#logo {
  float: right;
  height: 50px;
}

body {
margin: 0;
padding: 0;
}